<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.css.cloud.quartz.zhjc.jsq.dao.InfoPersonMapper" >
  <resultMap id="BaseResultMap" type="com.css.cloud.quartz.zhjc.jsq.entity.InfoPerson" >
    <id column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
    <result column="PERSON_NAME" property="personName" jdbcType="VARCHAR" />
    <result column="PINYIN" property="pinyin" jdbcType="VARCHAR" />
    <result column="PINYINF" property="pinyinf" jdbcType="VARCHAR" />
    <result column="PERSON_IDENTIFICATION" property="personIdentification" jdbcType="VARCHAR" />
    <result column="PERSON_PASSPORT" property="personPassport" jdbcType="VARCHAR" />
    <result column="PERSON_BIRTHDAY" property="personBirthday" jdbcType="TIMESTAMP" />
    <result column="PERSON_SEX" property="personSex" jdbcType="VARCHAR" />
    <result column="PERSON_TEL" property="personTel" jdbcType="VARCHAR" />
    <result column="PERSON_ADDRESS" property="personAddress" jdbcType="VARCHAR" />
    <result column="PERSON_EMAIL" property="personEmail" jdbcType="VARCHAR" />
    <result column="PERSON_NATIONALITY" property="personNationality" jdbcType="VARCHAR" />
    <result column="PERSON_MARITAL" property="personMarital" jdbcType="VARCHAR" />
    <result column="PERSON_HEALTH" property="personHealth" jdbcType="VARCHAR" />
    <result column="PERSON_CITIZENSHIP" property="personCitizenship" jdbcType="VARCHAR" />
    <result column="PERSON_EMPLOYMENTSTATUS" property="personEmploymentstatus" jdbcType="VARCHAR" />
    <result column="PERSON_OCCUPATION" property="personOccupation" jdbcType="VARCHAR" />
    <result column="PERSON_EMPLOYMENT" property="personEmployment" jdbcType="VARCHAR" />
    <result column="PERSON_ANNUALINCOME" property="personAnnualincome" jdbcType="NUMERIC" />
    <result column="PERSON_MONTHLYINCOME" property="personMonthlyincome" jdbcType="NUMERIC" />
    <result column="PERSON_POST" property="personPost" jdbcType="VARCHAR" />
    <result column="PERSON_PLOITICALAFFILIATION" property="personPloiticalaffiliation" jdbcType="VARCHAR" />
    <result column="PERSION_MAJOR" property="persionMajor" jdbcType="VARCHAR" />
    <result column="PERSION_DEGREE" property="persionDegree" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATER" property="updater" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PERSON_ID, PERSON_NAME, PINYIN, PINYINF, PERSON_IDENTIFICATION, PERSON_PASSPORT, 
    PERSON_BIRTHDAY, PERSON_SEX, PERSON_TEL, PERSON_ADDRESS, PERSON_EMAIL, PERSON_NATIONALITY, 
    PERSON_MARITAL, PERSON_HEALTH, PERSON_CITIZENSHIP, PERSON_EMPLOYMENTSTATUS, PERSON_OCCUPATION, 
    PERSON_EMPLOYMENT, PERSON_ANNUALINCOME, PERSON_MONTHLYINCOME, PERSON_POST, PERSON_PLOITICALAFFILIATION, 
    PERSION_MAJOR, PERSION_DEGREE, CREATOR, CREATETIME, UPDATER, UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from INFO_PERSON
    where PERSON_ID = #{personId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from INFO_PERSON
    where PERSON_ID = #{personId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.css.cloud.quartz.zhjc.jsq.entity.InfoPerson" >
    insert into INFO_PERSON (PERSON_ID, PERSON_NAME, PINYIN, 
      PINYINF, PERSON_IDENTIFICATION, PERSON_PASSPORT, 
      PERSON_BIRTHDAY, PERSON_SEX, PERSON_TEL, 
      PERSON_ADDRESS, PERSON_EMAIL, PERSON_NATIONALITY, 
      PERSON_MARITAL, PERSON_HEALTH, PERSON_CITIZENSHIP, 
      PERSON_EMPLOYMENTSTATUS, PERSON_OCCUPATION, 
      PERSON_EMPLOYMENT, PERSON_ANNUALINCOME, PERSON_MONTHLYINCOME, 
      PERSON_POST, PERSON_PLOITICALAFFILIATION, 
      PERSION_MAJOR, PERSION_DEGREE, CREATOR, 
      CREATETIME, UPDATER, UPDATETIME
      )
    values (#{personId,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, 
      #{pinyinf,jdbcType=VARCHAR}, #{personIdentification,jdbcType=VARCHAR}, #{personPassport,jdbcType=VARCHAR}, 
      #{personBirthday,jdbcType=TIMESTAMP}, #{personSex,jdbcType=VARCHAR}, #{personTel,jdbcType=VARCHAR}, 
      #{personAddress,jdbcType=VARCHAR}, #{personEmail,jdbcType=VARCHAR}, #{personNationality,jdbcType=VARCHAR}, 
      #{personMarital,jdbcType=VARCHAR}, #{personHealth,jdbcType=VARCHAR}, #{personCitizenship,jdbcType=VARCHAR}, 
      #{personEmploymentstatus,jdbcType=VARCHAR}, #{personOccupation,jdbcType=VARCHAR}, 
      #{personEmployment,jdbcType=VARCHAR}, #{personAnnualincome,jdbcType=NUMERIC}, #{personMonthlyincome,jdbcType=NUMERIC}, 
      #{personPost,jdbcType=VARCHAR}, #{personPloiticalaffiliation,jdbcType=VARCHAR}, 
      #{persionMajor,jdbcType=VARCHAR}, #{persionDegree,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.css.cloud.quartz.zhjc.jsq.entity.InfoPerson" >
    insert into INFO_PERSON
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="personId != null" >
        PERSON_ID,
      </if>
      <if test="personName != null" >
        PERSON_NAME,
      </if>
      <if test="pinyin != null" >
        PINYIN,
      </if>
      <if test="pinyinf != null" >
        PINYINF,
      </if>
      <if test="personIdentification != null" >
        PERSON_IDENTIFICATION,
      </if>
      <if test="personPassport != null" >
        PERSON_PASSPORT,
      </if>
      <if test="personBirthday != null" >
        PERSON_BIRTHDAY,
      </if>
      <if test="personSex != null" >
        PERSON_SEX,
      </if>
      <if test="personTel != null" >
        PERSON_TEL,
      </if>
      <if test="personAddress != null" >
        PERSON_ADDRESS,
      </if>
      <if test="personEmail != null" >
        PERSON_EMAIL,
      </if>
      <if test="personNationality != null" >
        PERSON_NATIONALITY,
      </if>
      <if test="personMarital != null" >
        PERSON_MARITAL,
      </if>
      <if test="personHealth != null" >
        PERSON_HEALTH,
      </if>
      <if test="personCitizenship != null" >
        PERSON_CITIZENSHIP,
      </if>
      <if test="personEmploymentstatus != null" >
        PERSON_EMPLOYMENTSTATUS,
      </if>
      <if test="personOccupation != null" >
        PERSON_OCCUPATION,
      </if>
      <if test="personEmployment != null" >
        PERSON_EMPLOYMENT,
      </if>
      <if test="personAnnualincome != null" >
        PERSON_ANNUALINCOME,
      </if>
      <if test="personMonthlyincome != null" >
        PERSON_MONTHLYINCOME,
      </if>
      <if test="personPost != null" >
        PERSON_POST,
      </if>
      <if test="personPloiticalaffiliation != null" >
        PERSON_PLOITICALAFFILIATION,
      </if>
      <if test="persionMajor != null" >
        PERSION_MAJOR,
      </if>
      <if test="persionDegree != null" >
        PERSION_DEGREE,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updater != null" >
        UPDATER,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="personId != null" >
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="pinyinf != null" >
        #{pinyinf,jdbcType=VARCHAR},
      </if>
      <if test="personIdentification != null" >
        #{personIdentification,jdbcType=VARCHAR},
      </if>
      <if test="personPassport != null" >
        #{personPassport,jdbcType=VARCHAR},
      </if>
      <if test="personBirthday != null" >
        #{personBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="personSex != null" >
        #{personSex,jdbcType=VARCHAR},
      </if>
      <if test="personTel != null" >
        #{personTel,jdbcType=VARCHAR},
      </if>
      <if test="personAddress != null" >
        #{personAddress,jdbcType=VARCHAR},
      </if>
      <if test="personEmail != null" >
        #{personEmail,jdbcType=VARCHAR},
      </if>
      <if test="personNationality != null" >
        #{personNationality,jdbcType=VARCHAR},
      </if>
      <if test="personMarital != null" >
        #{personMarital,jdbcType=VARCHAR},
      </if>
      <if test="personHealth != null" >
        #{personHealth,jdbcType=VARCHAR},
      </if>
      <if test="personCitizenship != null" >
        #{personCitizenship,jdbcType=VARCHAR},
      </if>
      <if test="personEmploymentstatus != null" >
        #{personEmploymentstatus,jdbcType=VARCHAR},
      </if>
      <if test="personOccupation != null" >
        #{personOccupation,jdbcType=VARCHAR},
      </if>
      <if test="personEmployment != null" >
        #{personEmployment,jdbcType=VARCHAR},
      </if>
      <if test="personAnnualincome != null" >
        #{personAnnualincome,jdbcType=NUMERIC},
      </if>
      <if test="personMonthlyincome != null" >
        #{personMonthlyincome,jdbcType=NUMERIC},
      </if>
      <if test="personPost != null" >
        #{personPost,jdbcType=VARCHAR},
      </if>
      <if test="personPloiticalaffiliation != null" >
        #{personPloiticalaffiliation,jdbcType=VARCHAR},
      </if>
      <if test="persionMajor != null" >
        #{persionMajor,jdbcType=VARCHAR},
      </if>
      <if test="persionDegree != null" >
        #{persionDegree,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.css.cloud.quartz.zhjc.jsq.entity.InfoPerson" >
    update INFO_PERSON
    <set >
      <if test="personName != null" >
        PERSON_NAME = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        PINYIN = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="pinyinf != null" >
        PINYINF = #{pinyinf,jdbcType=VARCHAR},
      </if>
      <if test="personIdentification != null" >
        PERSON_IDENTIFICATION = #{personIdentification,jdbcType=VARCHAR},
      </if>
      <if test="personPassport != null" >
        PERSON_PASSPORT = #{personPassport,jdbcType=VARCHAR},
      </if>
      <if test="personBirthday != null" >
        PERSON_BIRTHDAY = #{personBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="personSex != null" >
        PERSON_SEX = #{personSex,jdbcType=VARCHAR},
      </if>
      <if test="personTel != null" >
        PERSON_TEL = #{personTel,jdbcType=VARCHAR},
      </if>
      <if test="personAddress != null" >
        PERSON_ADDRESS = #{personAddress,jdbcType=VARCHAR},
      </if>
      <if test="personEmail != null" >
        PERSON_EMAIL = #{personEmail,jdbcType=VARCHAR},
      </if>
      <if test="personNationality != null" >
        PERSON_NATIONALITY = #{personNationality,jdbcType=VARCHAR},
      </if>
      <if test="personMarital != null" >
        PERSON_MARITAL = #{personMarital,jdbcType=VARCHAR},
      </if>
      <if test="personHealth != null" >
        PERSON_HEALTH = #{personHealth,jdbcType=VARCHAR},
      </if>
      <if test="personCitizenship != null" >
        PERSON_CITIZENSHIP = #{personCitizenship,jdbcType=VARCHAR},
      </if>
      <if test="personEmploymentstatus != null" >
        PERSON_EMPLOYMENTSTATUS = #{personEmploymentstatus,jdbcType=VARCHAR},
      </if>
      <if test="personOccupation != null" >
        PERSON_OCCUPATION = #{personOccupation,jdbcType=VARCHAR},
      </if>
      <if test="personEmployment != null" >
        PERSON_EMPLOYMENT = #{personEmployment,jdbcType=VARCHAR},
      </if>
      <if test="personAnnualincome != null" >
        PERSON_ANNUALINCOME = #{personAnnualincome,jdbcType=NUMERIC},
      </if>
      <if test="personMonthlyincome != null" >
        PERSON_MONTHLYINCOME = #{personMonthlyincome,jdbcType=NUMERIC},
      </if>
      <if test="personPost != null" >
        PERSON_POST = #{personPost,jdbcType=VARCHAR},
      </if>
      <if test="personPloiticalaffiliation != null" >
        PERSON_PLOITICALAFFILIATION = #{personPloiticalaffiliation,jdbcType=VARCHAR},
      </if>
      <if test="persionMajor != null" >
        PERSION_MAJOR = #{persionMajor,jdbcType=VARCHAR},
      </if>
      <if test="persionDegree != null" >
        PERSION_DEGREE = #{persionDegree,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PERSON_ID = #{personId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.css.cloud.quartz.zhjc.jsq.entity.InfoPerson" >
    update INFO_PERSON
    set PERSON_NAME = #{personName,jdbcType=VARCHAR},
      PINYIN = #{pinyin,jdbcType=VARCHAR},
      PINYINF = #{pinyinf,jdbcType=VARCHAR},
      PERSON_IDENTIFICATION = #{personIdentification,jdbcType=VARCHAR},
      PERSON_PASSPORT = #{personPassport,jdbcType=VARCHAR},
      PERSON_BIRTHDAY = #{personBirthday,jdbcType=TIMESTAMP},
      PERSON_SEX = #{personSex,jdbcType=VARCHAR},
      PERSON_TEL = #{personTel,jdbcType=VARCHAR},
      PERSON_ADDRESS = #{personAddress,jdbcType=VARCHAR},
      PERSON_EMAIL = #{personEmail,jdbcType=VARCHAR},
      PERSON_NATIONALITY = #{personNationality,jdbcType=VARCHAR},
      PERSON_MARITAL = #{personMarital,jdbcType=VARCHAR},
      PERSON_HEALTH = #{personHealth,jdbcType=VARCHAR},
      PERSON_CITIZENSHIP = #{personCitizenship,jdbcType=VARCHAR},
      PERSON_EMPLOYMENTSTATUS = #{personEmploymentstatus,jdbcType=VARCHAR},
      PERSON_OCCUPATION = #{personOccupation,jdbcType=VARCHAR},
      PERSON_EMPLOYMENT = #{personEmployment,jdbcType=VARCHAR},
      PERSON_ANNUALINCOME = #{personAnnualincome,jdbcType=NUMERIC},
      PERSON_MONTHLYINCOME = #{personMonthlyincome,jdbcType=NUMERIC},
      PERSON_POST = #{personPost,jdbcType=VARCHAR},
      PERSON_PLOITICALAFFILIATION = #{personPloiticalaffiliation,jdbcType=VARCHAR},
      PERSION_MAJOR = #{persionMajor,jdbcType=VARCHAR},
      PERSION_DEGREE = #{persionDegree,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where PERSON_ID = #{personId,jdbcType=VARCHAR}
  </update>
</mapper>