<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.css.cloud.quartz.dao.JobAndTriggerMapper">
    
    <select id="getJobAndTriggerDetails" resultType="com.css.cloud.quartz.entity.JobAndTrigger">
		  SELECT
        qrtz_job_details.JOB_NAME,
        qrtz_job_details.JOB_GROUP,
        qrtz_job_details.JOB_CLASS_NAME,
        qrtz_triggers.TRIGGER_NAME,
        qrtz_triggers.TRIGGER_GROUP,
        qrtz_cron_triggers.CRON_EXPRESSION,
        qrtz_cron_triggers.TIME_ZONE_ID
      FROM
        qrtz_job_details qrtz_job_details
      JOIN qrtz_triggers qrtz_triggers on qrtz_job_details.JOB_NAME = qrtz_triggers.JOB_NAME
      JOIN qrtz_cron_triggers qrtz_cron_triggers
      ON
      qrtz_triggers.TRIGGER_NAME = qrtz_cron_triggers.TRIGGER_NAME
     AND qrtz_triggers.TRIGGER_GROUP = qrtz_cron_triggers.TRIGGER_GROUP
    </select>
    
</mapper>